.bg-light-priv {
    background: rgb(49, 117, 243);
    background: linear-gradient(158deg, rgb(49, 117, 243) 0%, rgb(37, 100, 216) 100%);
}
.navbar-collapse{
    display: flex;
    justify-content: end;
}
.nav-link{
    color: white !important;
}

@media only screen and (max-width: 990px) {
    .navbar-collapse{
        display: flex;
        justify-content: center;
    }
}
